<h1 class="animated  fadeIn">Sobre mis comics favoritos</h1>
<hr>
<p class="animated  fadeIn">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis iusto consequuntur ea ullam earum. Odit mollitia error ipsa vel, facilis tenetur ullam deserunt dignissimos ea id aliquam molestiae repellendus doloribus earum totam dolorem fugit, architecto
    autem. Consequuntur adipisci quis unde quae dolorem officiis similique, soluta sapiente repellendus, distinctio magni dolore quam officia ea. Vero praesentium natus repellat neque officia ullam, accusamus recusandae quod aliquid quo sunt magni quos
    incidunt officiis? Tempora quam iusto eum veritatis. Soluta, aliquam quis odio tempora officiis fugiat corporis tenetur nisi aut molestias, vel fuga, nostrum alias ducimus. Eum aspernatur, quis optio sunt quod impedit cum.
</p>