<h1 class="animated  fadeIn">Una reseña sobre los Comics</h1>
<hr>
<div class="container">
    <p class="animated  fadeIn">
        Marvel Worldwide, Inc., conocida como Marvel Comics, es una editorial de historietas estadounidense creada en 1939, inicialmente con el nombre de Timely Publications. Entre sus personajes emblemáticos del género superheroico se encuentran Spider-Man,
        Wolverine, X-Men, Capitán América, Iron Man, Hulk, Thor, The Punisher, Los 4 Fantásticos, Los Vengadores, Deadpool, Daredevil, Doctor Strange, Ghost Rider, y los Inhumanos, entre otros. A partir de los años 1970, la compañía se posicionó como
        una de las principales editoriales de cómics del país. El 31 de agosto de 2009, The Walt Disney Company compró Marvel Entertainment por cerca de 4 000 millones de dólares, fusionándose con esta el 1 de enero de 2010.
    </p>
</div>