<div class="container-fluid bg-dark text-white text-center colorFooter fixed-bottom ">
    <div class="row ">
        <div class="col-sm-6 ">
            <p class="py-5 ">© Fernando Ramirez {{anio}}</p>
        </div>
        <div class="col-sm-6 ">
            <a href="https://github.com/ferjavi40 " target="_blank "><i class="fab fa-github mr-5 py-5 fa-lg iconsFooter "></i></a>
            <a href="https://www.linkedin.com/in/fernando-javier-ramirez-obando-345a03163/ " target="_blank "><i class="fab fa-linkedin mr-5 py-5 fa-lg iconsFooter "></i></a>
            <a href="https://www.facebook.com/fernando.javier40/ " target="_blank "><i class="fab fa-facebook mr-5 py-5 fa-lg iconsFooter "></i></a>

        </div>


    </div>

</div>